.catalogocard_box{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}


.catalogocard_image{
    width: 20rem;
    cursor: pointer;
}

.catalogocard_descripcion{
    width: 20rem;
}
